doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
     
    body
        header 
            h1=pageTitle
            nav 
                ul 
                    li  
                        a(href="/videos/upload") Upload Video
                    li 
                        a(href="/") HOME    
                             
                    li 
                        a(href="/search") SEARCH    
                    if loggedIn
                        li
                            a(href="/users/logout") LOGOUT
                        li 
                            a(href="/my-profile") #{loggedInUser.name}의 profile
                    else       
                        li 
                            a(href="/join") JOIN    
                        li 
                            a(href="/login") LOGIN                                          
            block headercontent     
        main
            block content
    include partials/footer.pug