doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        header 
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") HOME    
                             
                    li 
                        a(href="/search") SEARCH    
                    if loggedIn
                        li  
                            a(href="/users/edit") Edit Profile
                        li 
                            a(href=`/users/${loggedInUser._id}`) My Profile
                        li
                            a(href="/users/logout") LOGOUT
                        li  
                            a(href="/videos/upload") Upload Video     
                    else       
                        li 
                            a(href="/join") JOIN    
                        li 
                            a(href="/login") LOGIN                                          
              
        main
            block content
    include partials/footer.pug
    script(src="/static/js/main.js")